<% content_for :head do %>
<%= stylesheet_link_tag 'blogs/show' %>
<% end %>

<div id="menubar">
	<% unless (u = logged_in and u.blogs.find_by_default_blog(true) == @blog) %>
	<%= 
		link_to_if (@blog.followers.exists? u), 'unfollow', blog_following_path(@blog.name), :method => :delete do 
			link_to 'follow', blog_following_path(@blog.name), :method => :post
		end
	%>
	<% end %>
	<%= link_to 'tumblurk', root_url %>
</div>

<h1><%= @blog.title? ? @blog.title : @blog.name %></h1>
<% if @blog.description? %>
<h2><%= @blog.description %></h2>
<% end %>

<div id="posts">
	<%= render :partial => 'main/post', 
		:collection => (controller.controller_name == 'posts') ? [@post] : @blog.posts, :spacer => 'main/spacer' %>
</div>