<% form_for @post do |f| %>
	<div id="sidebar" class="left">
		Publish at<br>
		<%= f.datetime_select :publish_at %>
		<%= f.error_messages :header_message => 'Oops!', :message => nil %>
	</div>
	
	<div id="content" class="right">
		<div id="infobar">
			making a new <%= @post.kind %>
			<% if @post.post_id? and not @post.post_id.blank? %>
			from
			<%= link_to "##{@post.post_id}", post_path(@post.post_id) %>
				<%= f.hidden_field :post_id %>
			<% else %>
			...
			<% end %>
		</div>
		
		<div style="text-align: center;">
			<p style="text-align: left;">
			Title (Optional)
			</p>
			<%= f.text_field :head %>

			<p style="text-align: left;">Body</p>
			<%= f.text_area :body, :rows => 10 %>
		</div>
		<%= f.hidden_field :kind %>
		<%= f.submit (controller.action_name == 'edit') ? 'Update' : (@post.post_id ? 'Repost' : 'Post') %>
	</div>
	<div class="clear"></div>
<% end %>
