<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<%= stylesheet_link_tag 'reset', 'styles' %>
	<%= yield :title -%>
	<title>Tumblurk: <%= controller.action_name %></title>
	<%= yield :head -%>
</head>
<body>
	<%= yield %>
</body>
</html>

<%= javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js") %>
<%= yield :js_lib %>
<% javascript_tag do %>
$(function() {
  <%= yield :js_ready %>
});
<% end %>
