<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<%= stylesheet_link_tag 'reset', 'layout', 'common' , 'style' %>
	<title>Tumblurk: <%= controller.action_name %></title>
	<%= yield :head -%>
</head>
<body>
	<div id="wrapper">
		<div id="leftside">
			<div id="logo">
				logo here!
			</div>
			<div id="sidebar">
				sidebar here~
			</div>
		</div>
		<div id="rightside">
			<div id="banner">
				<ul id="menu-bar">
					<%= render :partial => 'layouts/menubar' %>
				</ul>
			</div>
			<div id="content">
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			GAIS Studio :P
		</div>
	</div>
</body>
</html>
